<a style="cursor: pointer; padding-left: 1rem" (click)="backClicked() "><i class="fa fa-angle-left fa-2x"></i></a>
<div class="content remainder " role="main">
<form [formGroup]="reminderForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label  class="form-label" for="">Description</label>
    <div class="ui-inputgroup">
      <input type="text"
             pInputText
             placeholder="description"
             name="description"
             formControlName="description"
      >

<!--      {{this.reminderForm.controls.description.errors | json }}-->

    </div>

  </div>
  <div class="form-group">
    <label class="form-group" for="">Date Start</label>
    <div class="ui-inputgroup">
    <p-calendar  class="ui-calendar" formControlName="dateStart" [showTime]="true"></p-calendar>
    </div>
  </div>
  <div class="form-group">
    <label class="form-group" for="">Date End</label>
    <div class="ui-inputgroup">
    <p-calendar  class="ui-calendar" formControlName="dateEnd" [showTime]="true"></p-calendar>
    </div>
  </div>

  <div class="form-group">
    <label class="form-group" or="">City</label>
    <div class="ui-inputgroup">
    <input type="text"
           pInputText
           placeholder="City"
           name="city"
           formControlName="city"
    >
    </div>
  </div>

  <div class="form-group">
    <label class="form-group" for="">Label color :  </label>
      <p-colorPicker formControlName="color"></p-colorPicker>
<!--    <p-colorPicker  formControlName="color" format="hex" [inline]="true"> </p-colorPicker>-->
<!--      <p style="margin-top:.5em">Selected Color: <span [ngStyle]="{'color':this.reminderForm.controls.color.value}">{{this.reminderForm.controls.color.value}}</span></p>-->
  </div>
  <button class="ui-calendar" [disabled]="reminderForm.invalid" type="submit" mat-flat-button color="primary">Save</button>
</form>
</div>
