.day{
  font-weight: normal;
  position: relative;
  left: -5px;
  top: -6px;

}


.activity{
  position: relative;
}

.activity .activity_content{
  margin-bottom: .2rem;
  font-size: .8rem;
  padding: 0 .3rem;
  border: 0px solid #3D4447;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: normal;
  background-color: #d7dbef;
}




.table-bordered td{
  height: 137px;
}

 .table-bordered thead th {
  border-bottom: 1px solid white;
}
